body {
    overflow: hidden;
}


.title h1 {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 80%;
    padding: 5px 0px 5px 0px;
    border: double;
    border-color: #6CCCC5;
    border-width: 5px;
    border-right-style: none;
    border-left-style: none;
    text-align: center;
    font-family: 'Cabin Sketch';
    font-weight: 500;
    font-size: 10vw;
    color: black;
}

.title {
    overflow: hidden;
}

.carousel{
    overflow:hidden;
    position:absolute;
    top: 50%;
    transform: translateY(-40%);
    max-width: 100%;
    height: 300px;
}

.carousel-inner > .item > a >img {
    margin: 0 auto;
    max-width: 100%;
    height: 300px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
    overflow: hidden;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators li{
    border: solid black;
}

.carousel-caption{
    overflow: visible;
    color: black;
    padding-top: 20px;
}

.bottom{
    padding-top: 90%;
    text-align: center;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:40px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#tg-video{
    padding-top: 20%;
}